body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(#a18cd1,#fbc2eb);
}



.heading{
    font-family:Arial, Helvetica, sans-serif ;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: x-large;
}